.container{
    margin-top: 150px;
}

.btn-outline-danger{
    border-radius: 25px;
}
.btn-outline-danger:hover{
    background-color: transparent !important;
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5) !important; 
}
