<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main-container">
    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
              <div class="card rounded-3 text-black">
                <div class="row g-0 allContainer">
                
                  <div class="col-lg-8 d-flex align-items-center justify-content-center">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <div class="serviceDetails[0]">
                            <mat-card class="example-card">
                                <mat-card-header>
                                  <mat-card-title-group>
                                  </mat-card-title-group>
                                </mat-card-header>
                                <mat-card-content>
                                  <div class="card-content">
                                    <div class="content-inner-div">
                                      <label class="label">Vehicle number</label>
                                      <span class="customerdata">{{serviceDetails[0].vehicle_no}}</span>
                                    </div>
                                    <div class="content-inner-div">
                                      <label class="label">Appointment date</label>
                                      <span class="customerdata">{{serviceDetails[0].service_date}}</span>
                                    </div>
                                    <div class="content-inner-div">
                                      <label class="label">Service Status</label>
                                      <span class="customerdata">{{serviceDetails[0].service_status}}</span>
                                    </div>
                                    <div class="content-inner-div">
                                      <label class="label">Service type</label>
                                      <span class="customerdata">{{serviceDetails[0].service_type}}</span>
                                    </div>
                                    <div class="content-inner-div">
                                        <label class="label">Complaints</label>
                                        <span class="customerdata">{{serviceDetails[0].iSComplaint}}</span>
                                      </div>
                                      <div class="content-inner-div">
                                        <label class="label">No of services</label>
                                        <span class="customerdata">{{serviceDetails[0].service_count}}</span>
                                      </div>
                                  </div>
                                </mat-card-content>
                              </mat-card>
                              <div class="button-container">
                                <button type="button" class="btn btn-success customer-data-button" >Edit</button>
                                <button type="button" class="btn btn-danger customer-data-button">Delete</button>
                            </div>
                           </div>
                    </div>
                 
                  </div>
                  <div class="col-lg-6 d-flex align-items-center justify-content-center add-service-container">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <div class="addServiceContainer">
                           </div>
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>