.dialog-container{
    background-color: black;
}

.form-check{
    color: white;
margin: 15px;  
}

.mat-dialog-actions{
  background-color: black;
}
.change-btn{
    display: flex;
    justify-content: center;
}